@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

ul li{
  list-style: none;
}

img{
  object-fit: cover;
}

a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* ================
    HEADER
================= */

.header{
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "Fira Sans Condensed", sans-serif;
  background: url(../img/Rectangle3.png) center/cover;
}

.container{
  width: 60%;
  margin: 0 auto;
}

nav{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 25px;
}

.navbar{
  width: 75%;
  justify-content: space-between;
  display: flex;
}

.line{
  width: 0;
  height: 2px;
  transition: 0.3s all linear;
  background-color: #D1A954;
  margin: 0 auto;
}

.navbar li:hover .line,
.contact:hover .line{
  width: 100%;
}


.main{
  display: flex;
  margin-top: 27vh;
}

.main_item{
  width: 48%;
  margin-right: 15%;
}

.main_item h1 {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}

.main_item p{
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin-bottom: 20px;
}

.main_item a{
  background-color: #D1A954;
  padding: 8px 25px;
  letter-spacing: 2px;
}


.main_slider{
  position: relative;
  width: 286px;
  height: 400px;
  transform: translateY(-20%);
}

.main_slider *{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.main_slider img:first-child{
  z-index: 2;
  transition: 0.3s all linear;
}

.main_slider .box{
  background-color: #D1A954;
  z-index: 1;
  opacity: 0.7;
}

.main_slider img:last-child{
  z-index: 0;
}

.main_slider:hover img:first-child{
  transform: translate(-25px, -25px);
  cursor: pointer;
}

@import "./response.scss";